{% extends "parserator_web/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row pt-5 pb-4">
    <div class="col-12">
      <h3 id="usaddress-parser"><i class="fa fa-fw fa-map-marker-alt"></i> U.S. address parser</h3>
      <p>Dealing with some messy or unstructured addresses? We can parse them for you.</p>
      <div class="card card-body bg-light">
        <p><strong>Try it out!</strong> Parse an address in the United States into fields like <code>AddressNumber</code>, <code>StreetName</code> and <code>ZipCode</code>.</p>
        <form class="form" role="form">
          {% csrf_token %}
          <input name="address" type="text" class="form-control" id="address" placeholder="123 Main St. Suite 100 Chicago, IL">
          <button id="submit" type="submit" class="btn btn-success mt-3">Parse!</button>
        </form>
      </div>
      <!-- TODO: Display parsed address components here. -->
      <div id="address-results" style="display:none">
        <h4>Parsing results</h4>
        <p>Address type: <strong><span id="parse-type"></span></strong></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Address part</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody id="address-components">         
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();

      const addressInput = document.getElementById('address').value;
      
      fetch(`/api/parse/?address=${encodeURIComponent(addressInput)}`)
        .then(response => {
            if (!response.ok) {
            throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            const resultsDiv = document.getElementById('address-results');
            const parseType = document.getElementById('parse-type');
            const addressComponentsTable = document.getElementById('address-components');
            // const addressComponentsTable = resultsDiv.querySelector('tbody');

      
            // Clear previous results
            addressComponentsTable.innerHTML = '';
      
            if (data.error) {
            resultsDiv.style.display = 'none';
            alert(data.error);
            } else {
            parseType.textContent = data.address_type;
      
            for (const [component, tag] of Object.entries(data.address_components)) {
              const row = addressComponentsTable.insertRow();
              const cell1 = row.insertCell(0);
              const cell2 = row.insertCell(1);
              cell1.textContent = component;
              cell2.textContent = tag;
            }
      
            resultsDiv.style.display = 'block';
            }
        })
        .catch(error => {
          console.error('There was a problem with the request:', error);
          alert('There was a problem with the request: ' + error.message + '\n' + error.stack);
        });
      });
  });
  </script>
{% endblock %}
